<div class="res">
  <img src="../../assets/Cad.gif" style="height:100px;width:100%">
  <h2 class="res">All Files</h2>

  <!-- <p style="color:black">{{pdfText}}</p> -->
  <li *ngFor="let file of fileNameArray">
    {{file}}
  </li>
</div>
<app-reader-view [childMessage]="selectedFileName" ></app-reader-view>
<!-- <div>
    <button >Click</button>
</div> -->
<!-- <div>
  <pdf-viewer [src]="pdfSrc"
    [render-text]="true"
    [page]="page" 
    [show-all]="false"
    style="display: block;">
  </pdf-viewer>
</div> -->